:root {
  --font-color: #b6a692;
  --background-color: #0A0B1B;
  --border-color: #5a4c3a;
  --code-border-color: #232760;
  --heading-color: #b6a692;
  --light-blue: #57d5ff;
  --lighter-blue: #91e4ff;
  --darkened-blue: #00a0d5;

  color-scheme: dark;
}

html, body {
  background: var(--background-color);
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  color: var(--font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;

  main {
    padding: 4rem 1rem;
    flex: 1 1 100%;
    overflow-y: scroll;

    .content {
      max-width: 50rem;
      margin: 0 auto;
    }
  }

  h1, h2, h3, h4, h5, h6 {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: var(--heading-color);
  }

  h1 {
    text-align: center;
    margin-top: 0;
    padding-bottom: 2rem;
    text-decoration: underline;
  }

  h2 {
      border-bottom: 1px solid var(--border-color);
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

  a {
    color: var(--light-blue);

    &:visited {
      color: var(--darkened-blue);
    }
    
    @media(hover: hover) {
      &:hover {
        color: var(--lighter-blue);
      }
    }
  }
}

nav {
  h2 {
    margin: 0; padding: 0;
    flex-basis: 100%;
    border: none;
    text-align: center;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}

.block {
  position: relative;

  .lang {
    color: var(--light-blue) !important;
    position: absolute;
    top: .5rem; left: 1rem;
    font-size: .8rem;
  }
}

code {
  border: 1px solid var(--code-border-color);

  &.manual-highlight {
    display: block;
    padding: 1rem;
  }

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.inner {
      text-align: left;
    }
  }
}

section {
  & + section {
    margin-top: 4rem;
  }
}

nav + section {
  margin-top: 4rem;
}

.next-previous {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  padding: .25rem;
  box-sizing: border-box;
  background: var(--background-color);
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  border-top: 1px solid var(--code-border-color);

  a { 
    padding: .5rem;
    text-decoration: none;
    @media (hover: hover) {
      &:hover {
        background: var(--darkened-blue);
        color: white;
      }
    }
  }
}

.sync-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid gray;
}

input, select {
  min-width: 0;
  max-width: 100%;
  background: gray;
  color: white;
}

label {
  font-weight: bold;
  white-space: nowrap;
  padding-left: .5rem;
  border-left: 1px solid gray;
}

.trans {
  margin: 1rem auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  transition: height 1s ease-in-out, width 1s ease-in-out, background-color 1s ease-in-out, font-size 1s ease;
}

.colorful {
  background: purple;
  color: white;
}