@import "./frontpage.css";
@import "./dialog.css";

:root {
    --blue: #001541;
    --light: white;
    --dark: black;
    --medium: rgb(100, 100, 100);
    --text-focus: #f8ffd1;
    --text-normal: #dbdbdb;
    --background: rgb(49, 49, 49);

    --border-radius: 4px;
    --text-shadow: .25rem .25rem 1rem var(--dark);
    --box-shadow: .25rem .25rem 1rem var(--dark);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue);
    background: radial-gradient(circle, var(--blue), var(--dark));
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(219, 219, 219);
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-focus);
}

h1 {
    font-style: italic;
    font-size: 7rem;
    text-shadow: var(--text-shadow);
    margin-bottom: .5rem;
}

a {
    color: var(--text-focus);
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;

    & + a {
        margin-left: 1rem;
    }

    &:hover {
        color: var(--light);
    }

    &:visited {
        color: var(--text-focus);
    }
}
